<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEV</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TEV</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../../">Tumor Evolution Visualization</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../input/">Upload Data</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div id="well-wrapper" class="col-sm-12 well">
    <div class="col-sm-11" style="float: left;">
        <h2>Required</h2>
        <ul>
            <li><b>Subject ID</b> - A unique ID associated with the patient or source the data was derived from.</li>
            <li><b>Day</b> - The number of days since the first sample was acquired from the source. The day the first
            sample was acquired should be 0.</li>
            <li><b>Gene</b> - The name of the gene.</li>
            <li><b>AA_change</b> - The amino acid change in the form of original amino acid letter, position in peptide
            chain, and new amino acid letter (or deletion/insertion). An example of this is "R140Q".</li>
            <li><b>VAF</b> - The variant allele frequency.</li>
        </ul>
        <h2>Optional</h2>
        <ul>
            <li><b>Chr</b> - The chromosome the gene is on.</li>
            <li><b>Position</b> - The position of the variant on the chromosome.</li>
            <li><b>Total Read</b> - The total number of reads sequenced for the particular locus.</li>
            <li><b>Ref_read</b> - The number of total reads that map to the reference sequence for the particular
                locus.</li>
            <li><b>Var_read</b> - The number of total reads that don't map to the reference sequence for the particular
            locus.</li>
            <li><b>Alt</b> - The alternative sequence observed at the particular locus.</li>
            <li><b>Ref</b> - The reference sequence for the particular locus.</li>
            <li><b>cDNA_change</b> - The cDNA change observed as a result of the variant.</li>
            <li><b>VariantType</b> - The type of mutation of the variant (i.e. Frameshift, Missense, Nonsense)</li>
            <li><b>Assay</b> - The type of assay used to determine the variants.</li>
            <li><b>RefSeq</b> - An associated RefSeq accession number.</li>
        </ul>
    </div>
</div>

</body>
</html>