<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TEV</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../../">Tumor Evolution Visualization</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../">Return to Data</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div id="file-upload-div" class="col-md-5 well" style="float: left">
                <h3 class="dark-grey">File Upload</h3>
                <div class="col-lg-12">
                    <form method="post" action="../data_to_database/" enctype="multipart/form-data">{% csrf_token %}
                        {{ tev_file.as_p }}
                        <input class="btn btn-default" type="submit" value="Upload"/>
                    </form>
                </div>

            </div>

            <div id="file-format-div" class="col-md-5 well" style="float: right;">
                <h3 class="dark-grey">File Format</h3>
                <p>
                    Tab-delimited files with these five fields may be uploaded:
                </p>
                <p><b>Required Fields:</b></p>
                <ul>
                    <li>Subject ID</li>
                    <li>Day</li>
                    <li>Gene</li>
                    <li>AA_change</li>
                    <li>VAF</li>
                </ul>
                <p>
                    The first row of the file should label the columns, and the labels must match exactly.
                    Several optional fields are supported:
                </p>
                <p><b>Optional Fields</b></p>
                <ul>
                    <li>Chr</li>
                    <li>Position</li>
                    <li>Total Read</li>
                    <li>Ref_read</li>
                    <li>Var_read</li>
                    <li>Alt</li>
                    <li>Ref</li>
                    <li>cDNA_change</li>
                    <li>VariantType</li>
                    <li>Assay</li>
                    <li>RefSeq</li>
                </ul>
                </br>
                <p>For additional information on these parameters, a page explaining each field can be found
                    <a href="../format_information">here</a>.
                </p>
            </div>
        </div>
    </section>
</div>
<script>
    $("#file-upload-div").height($("#file-format-div").height());
</script>
</body>
</html>
